:root {
  --main-color: #3498db;
}

.cta {
  padding: 0.2rem;
  color: #fff;
  background-color: var(--main-color);
}

img {
  max-width: 100%;
  height: auto;
}
.carousel img {
  max-height: 30vh;
}

.text-responsive {
  font-size: calc(0.8em + 0.5vw);
}

/* Carousel */
.carousel-item img {
  display: none !important;
}

.carousel-item.carousel-item-prev img,
.carousel-item.carousel-item-end img,
.carousel-item.carousel-item-start img,
.carousel-item.active img {
  display: block !important;
}

.carousel-indicators {
  bottom: -10px;
}

/* Featured */
.featured {
  width: 97%;
}
